include ../mixins/forms.pug
include ../mixins/avatar-box.pug

.two-columns
	div
		.header-box Info
			if group.userCanDelete
				button.btn.btn-lg.btn-danger.pull-right(data-action='delete-group') Delete
		.content-box
			+static('name', 'Name', group.name)
			if group.userCanSetSettings
				+input('label', 'Label')(value=group.settings.label, data-setting='LABEL')
				+textarea('description', 'Description')(rows=3, data-setting='DESCRIPTION')
					| #{group.settings.description}
				if isAdmin && !group.isUserGroup
					+input('noOfRepositories', 'No. of group repositories (0 = unlimited)', 'number')(class='input-sm', value=group.settings.noOfRepositories, size=4, min=0, data-setting='NO_OF_REPOSITORIES')
					+input('maxSize', 'Maximum group size', 'number', true)(class='input-sm', value=0, size=4, min=0, data-setting='MAX_SIZE')
						+select('unit', null, [['1048576', 'MB'], ['1073741824', 'GB']], 'GB')(class='input-sm', data-setting='MAX_SIZE')
			else
				+static('label', 'Label', group.settings.label||'-')
				+static('description', 'Description', group.settings.description||'-')
		+avatar-box('group', group.name, group.userCanWrite)
	.repositories
		.header-box Repositories (
			span.group-repository-count 0
			| )
		if !group.userCanCreate
			input#filter.input-lg.form-control(type='text' placeholder='Filter by name' aria-label='Filter by name')
		else
			.input-group.input-group-lg
				input#filter.form-control(type='text' placeholder='Filter by name' aria-label='Filter by name')
				span.input-group-btn
					button.btn.btn-success.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' aria-label='Toggle repository menu')
						span.glyphicon.glyphicon-plus
						|  
						span.caret
					ul.dropdown-menu
						li: a(href='#' data-action='create-repository')
							span.glyphicon.glyphicon-plus
							| Create new repository
						li: a(href='#' data-action='import-repository')
							span.glyphicon.glyphicon-import
							| Import repository
						li: a(href='#' data-action='import-json')
							span.glyphicon.glyphicon-import
							| Import JSON-LD			
		.list-container#group-repositories
