include ../mixins/forms.pug

- var repos = [];
- var options = [''];
each library in libraries
    - options.push(library.name);
    each repo in library.currentlyLinkedIn
        if repos.indexOf(repo) === -1
            - repos.push(repo);
- repos.sort(function(r1, r2) { return r1.toLowerCase().localeCompare(r2.toLowerCase()); });
.alert.alert-warning(style='display:block'): span.message This is an experimental feature, please use with care and make backups of repositories before usage
+select('toReplace', 'Library to update', options, '', false, true)
+select('replaceWith', 'Update with', options, '', false, true)
+input('message', 'Commit message', 'text', false, true)
h4 Repositories to replace library in
    sup *
p#please-select-label: em Please select two libraries for the update 
p#no-repos-label.hidden: em No repository available for the current selection.  
each repo in repos
    div.hidden: +checkbox(repo, repo, 'success', true)(checked)