include ../mixins/forms.pug

#settings-form
	.header-box Basic settings
	.content-box
		.two-columns
			+input('SERVER_SETTING__SERVER_NAME', 'Server name')
			+input('SERVER_SETTING__SERVER_URL', 'Base url (e.g. used in email links)')
		.clear
		.two-columns
			+input('SERVER_SETTING__REPOSITORY_PATH', 'Repositories root directory')
			+input('SERVER_SETTING__LIBRARY_PATH', 'Libraries directory')
		.clear
		+input('SERVER_SETTING__TYPES_OF_DATA', 'Types of data')
	.header-box Enabled features
	.content-box
		#search-note.alert.alert-warning You need to reindex all repositories, for the search/usage to show correct results.
		+checkbox('SERVER_SETTING__SEARCH_ENABLED', 'Search</strong>: Users can search for data sets within repositories they have access to')
		.indented-setting
			+checkbox('SERVER_SETTING__USAGE_SEARCH_ENABLED', 'Usage</strong>: Enables analysis and display of data set usage')
		+checkbox('SERVER_SETTING__COMMENTS_ENABLED', 'Comments: Reviewers are enabled to make comments on data set fields')
		+checkbox('SERVER_SETTING__TASKS_ENABLED', 'Tasks: Editors can create review tasks')
		+checkbox('SERVER_SETTING__MESSAGING_ENABLED', 'Messaging: Users can write messages to each other')
		+checkbox('SERVER_SETTING__RELEASES_ENABLED', 'Releases: Commits of a repository can be released to the public')
		+checkbox('SERVER_SETTING__HOMEPAGE_ENABLED', 'Homepage</strong>: Show a landing page instead of the default search page or login for anonymous users')
		+checkbox('SERVER_SETTING__NOTIFICATIONS_ENABLED', 'Notifications</strong>: Users can receive notifications')
		+checkbox('SERVER_SETTING__USER_REGISTRATION_ENABLED', 'User registration</strong>: Users can create accounts themselves')
		+checkbox('SERVER_SETTING__USER_REGISTRATION_APPROVAL_ENABLED', 'User registration approval</strong>: Self signed-up users will be inactive until an admin activates them')
		+checkbox('SERVER_SETTING__CHANGE_LOG_ENABLED', 'Change log</strong>: Users can create change logs from commit histories (local nodejs server for server side rendering must be installed)')
		+checkbox('SERVER_SETTING__DASHBOARD_ACTIVITIES_ENABLED', 'Dashboard activities</strong>: Shows latest activities on the dashboard')
		+checkbox('SERVER_SETTING__REPOSITORY_ACTIVITIES_ENABLED', 'Repository activities</strong>: Shows latest activities in each repository')
		+checkbox('SERVER_SETTING__REPOSITORY_TAGS_ENABLED', 'Repository tags: Enables owners of a repository to tag the repository which add additional filtering in the search')
		+checkbox('SERVER_SETTING__DATASET_TAGS_ENABLED', 'Data set tags: Enables a search filter for tags on data sets')
		.indented-setting
			+checkbox('SERVER_SETTING__DATASET_TAGS_ON_DASHBOARD_ENABLED', 'Data set tags (Dashboard): Adds a data set tag cloud menu entry to the dashboard')
			+checkbox('SERVER_SETTING__DATASET_TAGS_ON_GROUPS_ENABLED', 'Data set tags (Group): Adds a data set tag cloud menu entry to each groups menu')
			+checkbox('SERVER_SETTING__DATASET_TAGS_ON_REPOSITORIES_ENABLED', 'Data set tags (Repository): Adds a data set tag cloud menu entry to each repositories menu')
	.header-box.search-settings Opensearch settings
		button.btn.btn-primary.pull-right(data-action='test-search') Run test search
	.content-box.search-settings
		.three-columns
			+input('SEARCH_SETTING__SCHEMA', 'Schema')
			+input('SEARCH_SETTING__HOST', 'Url')
			+input('SEARCH_SETTING__PORT', 'Port')
		.two-columns
			+input('SEARCH_INDEX__PRIVATE', 'Search index')
			+input('SEARCH_INDEX__PUBLIC', 'Public search index')
			+input('SEARCH_INDEX__PRIVATE_USAGE', 'Usage search index')
			+input('SEARCH_INDEX__PUBLIC_USAGE', 'Public usage search index')
	.header-box Mail configuration 
		button.btn.btn-primary.pull-right(data-action='test-mail') Send test mail
		.clear
	.content-box
		.two-columns
			+input('MAIL_SETTING__HOST', 'Host')
			.three-columns
				+select('MAIL_SETTING__PROTO', 'Protocol', ['smtp', 'smtps'])
				+input('MAIL_SETTING__PORT', 'Port', 'integer')
				div
					+checkbox('MAIL_SETTING__SSL', 'SSL')
					+checkbox('MAIL_SETTING__TLS', 'TLS')
		.clear
		.two-columns
			+input('MAIL_SETTING__USER', 'Username')(autocomplete='new-password')
			+input('MAIL_SETTING__PASS', 'Password', 'password')(autocomplete='new-password')
		.clear
		.two-columns
			+input('MAIL_SETTING__DEFAULT_FROM', 'Default from')
			+input('MAIL_SETTING__DEFAULT_REPLY_TO', 'Default reply to')
		.clear
	.header-box Imprint
	.content-box
		.two-columns
			+input('IMPRINT_SETTING__COMPANY', 'Company')
			+input('IMPRINT_SETTING__CEO', 'Ceo')
		.clear
		.two-columns
			+input('IMPRINT_SETTING__STREET', 'Street')
			+input('IMPRINT_SETTING__ZIP_CODE', 'Zip code')
		.clear
		.two-columns
			+input('IMPRINT_SETTING__CITY', 'City')
			+input('IMPRINT_SETTING__COUNTRY', 'Country')
		.clear
		.two-columns
			+input('IMPRINT_SETTING__PHONE', 'Phone')
			+input('IMPRINT_SETTING__FAX', 'Fax')
		.clear
		.two-columns
			+input('IMPRINT_SETTING__EMAIL', 'Email')
			+input('IMPRINT_SETTING__WEBSITE', 'Website')
		.clear
		.two-columns
			+input('IMPRINT_SETTING__REGISTRATION', 'Registration')
			+input('IMPRINT_SETTING__VAT', 'Vat')
		.clear
	.header-box GLAD service settings
		button.btn.btn-primary.pull-right(data-action='test-glad') Check GLAD url
		button.btn.btn-danger.pull-right(data-action='clear-glad') Delete all data from GLAD
		button.btn.btn-default.pull-right(data-action='list-glad') List repositories on GLAD
	.content-box
		.three-columns
			+input('SERVER_SETTING__GLAD_URL', 'Service url')
			+input('SERVER_SETTING__GLAD_API_KEY', 'Api-key')
			+input('SERVER_SETTING__GLAD_DATAPROVIDER', 'Dataprovider name')
		.clear
		.clear
