include ./structures/unit-table.pug

+menubar
.content-box
	.model-left-content
		+header
		+content
			if hasAtLeastOne(dataset, compareTo, 'units') || reviewMode
				.margin-0-25-25
					h4(data-path='units')=getLabel('units')
					+unit-table()
	+meta
		hr
		+labeled-ref-block('defaultFlowProperty')
	.clear