/.classpath
/.externalToolBuilders/
/.project
/.settings/
/bin/
/derby.log
/dropDDL.jdbc
/node_modules/
/schema.sql
/src/main/webapp/imprint.html
/src/main/webapp/index.html
/src/main/webapp/login.html
/src/main/webapp/maintenance.html
/src/main/webapp/css/fonts/
/src/main/webapp/css/libs/
/src/main/webapp/css/main.css
/src/main/webapp/js/libs/
/src/main/webapp/js/app/DynamicDependencies.coffee
/src/main/webapp/js/templates/
/target/