HELP.md
target/
node_modules/
.mvn
!**/src/main/**/target/
!**/src/test/**/target/
/src/main/resources/ssr
/src/main/webapp/js/libs
/src/main/webapp/js/templates
/src/main/webapp/js/app/DynamicDependencies.coffee
/src/main/webapp/*.html
/src/main/webapp/css/main.css
/custom/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
