/.mvn

/search/target/
/search/.classpath
/search/.factorypath
/search/.project
/search/.settings

/backend/src/main/webapp
/backend/src/main/resources/ssr
/backend/src/main/resources/static
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/target/

/frontend/node_modules/
/frontend/src/webapp/css/main.css
/frontend/src/webapp/css/libs
/frontend/src/webapp/css/fonts
/frontend/src/webapp/js/libs
/frontend/src/webapp/js/templates
/frontend/src/webapp/js/app/DynamicDependencies.coffee
/frontend/src/webapp/*.html
/frontend/src/webapp/THIRD-PARTY.txt
/frontend/.vscode/

/.idea/