.admin-overview

	.box
		background-color rgb(248, 250, 252)	
		width 100%
		padding 30px

		.count
			text-align center
			font-size 36px
			margin 30px 0

	.list-box
		padding 10px 30px
		font-size 16px			
