.admin-overview

	&.four-columns > *:not(.clear)

		@media(min-width 992px) and (max-width 1199px)
			width 48% !important

	.header-box
		width 100%
		padding 30px
		
		@media(min-width 992px)
			border 0

		.count
			text-align center
			font-size 36px
			margin 30px 0

	.list-box
		padding 10px 30px
		font-size 16px			

		.filter
			margin-bottom 10px
			
	.btn
		padding-left 5px
		padding-right 5px