.admin-overview

	.header-box
		width 100%
		padding 30px
		
		@media(min-width 992px)
			border 0

		.count
			text-align center
			font-size 36px
			margin 30px 0

	.list-box
		padding 10px 30px
		font-size 16px			

		.filter
			margin-bottom 10px