.change-visibility
	display inline-block

.comment-visibility
	color rgb(51, 122, 173)

.comment-entry
	padding 20px
	
	&:not(.released):not(.approved)
		background-color rgb(245, 245, 245)

	&:not(.approved)
		background-color rgb(255, 255, 221)
	
	#new-comment-group
		margin-top 15px
		margin-left 42px

	&.reply
		padding-left 72px 

	.comment-text, .dataset-info
		margin-left 58px

		&.comment-layer
			margin-left 42px
	
	.comment-info-container
		margin-left 58px

	.reply-to[data-active]
		color rgb(68, 157, 68) !important
		font-weight bold
		
	.glyphicon-remove
		color rgb(201, 48, 44)

.comments hr, .comments-view hr, .new-comment-wrapper + hr
	margin 0

