.full-size > .center > .repository-commit
		padding 0
		
.repository-commit
	
	.header
		padding 10px 25px
		border-bottom 1px solid rgb(231, 233, 237)	
		
		.breadcrumb 
			font-size 90%
			padding 0
			margin-left 21px

	.file-reference:not(:first-child) > .header
		border-top 1px solid rgb(231, 233, 237)	

	.header-box input#filter
		margin-top 10px