.full-size > .center > .repository-commit
		padding 0
		
.repository-commit
	
	.header
		padding 10px 25px
		background-color rgb(248, 250, 252)
		border-bottom 1px solid rgb(231, 233, 237)	
		
	.file-reference:not(:first-child) > .header
		border-top 1px solid rgb(231, 233, 237)	

	.diff > *
		width 50%
