.repository-dataset

	.comparison-indicator
		display none
		margin-right 5px
		font-size 14px

	[data-compare]

		.breadcrumb 
			display inline
	
	[data-compare='added']

		&, & .comparison-value:not(.breadcrumb), .breadcrumb > li > a, a
			color  rgb(92, 184, 92)!important						

		.comparison-indicator.glyphicon.glyphicon-plus-sign
			display inline-block

	[data-compare='changed']
		
		&, & .comparison-value:not(.breadcrumb), .breadcrumb > li > a, a
			color rgb(240, 173, 78) !important

		.comparison-indicator.glyphicon.glyphicon-exclamation-sign
			display inline-block

		.comparison-value
			display none
		
		&:hover

			.original-value:after
				content ' '
			
			.comparison-value
				text-decoration line-through !important
				display initial

	[data-compare='removed']

		&, & .comparison-value:not(.breadcrumb), .breadcrumb > li > a, a
			color rgb(193, 48, 44) !important			
			text-decoration line-through !important
			text-decoration-skip objects

		.comparison-indicator.glyphicon.glyphicon-minus-sign
			display inline-block

	.comparison-statistics

		[data-compare]
			margin-right 10px
			float left
		
		[data-compare='removed']
			text-decoration initial !important