.full-size > .center > .dashboard
	padding 0

.dashboard
			
	.list-container

		.list-entry
			padding 10px 25px

			&:not(:last-child)
				border-bottom 1px solid rgb(241, 242, 244)
			
			.avatar
				margin-right 20px

	.paging
		padding-bottom 20px
		