.full-size > .center > .dashboard
	padding 0

	.header-box .dropdown-toggle
		margin-left -1px

	.paging
		padding-bottom 20px

	.activity

		[data-activity^=COMMIT]
			color rgb(216, 149, 110)

		[data-activity=COMMENT]
			color rgb(26, 174, 142)

		[data-activity^=TASK]
			color rgb(159, 113, 185)

		.calendar-icon
			margin-top -5px

		.user-info .user-info-content a, .user-info .user-info-content span:not(.username):not(.message):not([data-activity]):not(.commit-info)
			font-weight normal

		.user-info .user-info-content span:not(.username):not([data-activity]):not(.commit-info)
			color rgb(127, 143, 164) 

	#activities-config .abc-checkbox label
		font-size initial
		font-weight initial

