.full-size > .center > .dashboard
	padding 0

	.header-box .dropdown-toggle
		margin-left -1px

	.header-box
		font-size 18px

.list-container

	.list-entry
		padding 10px 25px
		border-bottom 1px solid rgb(241, 242, 244)
		
		.avatar
			margin-right 20px

.paging
	padding-bottom 20px

.activity

	&[data-activity=COMMENT]
		background-color rgb(255, 250, 240)

	&[data-activity^=TASK]
		background-color rgb(250, 240, 255)

	.activity-info
		margin-left 63px

	.calendar-icon
		margin-top -5px

	.user-info .user-info-content a, .user-info .user-info-content span:not(.username):not(.message)
		font-weight normal

	.user-info .user-info-content span:not(.username)
		color rgb(127, 143, 164) 

#activities-config .abc-checkbox label
	font-size initial
	font-weight initial
