.profile-view
	
	#settings-maxSize-group > label, #settings-activeUntil-group > label
		display block

	.user-status
		font-size 18px
		padding 5px 10px
	
		&.active
			background-color rgb(68, 157, 68)

		&.deactivated
			background-color rgb(217, 83, 79)