.search-view

	& > .content-box
		display flex

	.header-box .badge
		margin-bottom 2px

		&:not(:last-child)
			margin-right 5px

	.search-results
		padding 0
		flex 1

	.result
		display flex
		padding 10px 25px
		border-bottom 1px solid rgb(231, 233, 237)	

		.model-icon-small
			margin 5px 0 0 0

		h4
			margin 0


		.result-content
			flex 1
			margin 5px

		.result-repositories
			margin-top 5px
		
		.result-details, .result-tags
			margin-top 10px

		.category
			color rgb(135, 76, 63)
			
		.badge
			font-size inherit
			margin-right 5px

	.highlight-result
		background-color rgb(255, 255, 0)
	
	.aggregations
		min-width 20%
		padding 0 10px

		.aggregation
			padding 10px 25px

			label
				font-weight normal

			.multi-select
				color rgb(125, 125, 125)
			
			.glyphicon-remove
				color rgb(217, 83, 79)
				
			ul ul
				list-style disc outside none
				margin-left 1.7em
	
	@media(min-width 1200px)
		
		.search-results
			border-right 1px solid rgb(231, 233, 237)