.search-view

	& > *
		padding 0

	.result
		padding 10px 25px
		border-bottom 1px solid rgb(231, 233, 237)	
			
		.details
			font-size 90%
			color rgb(119, 119, 119)
			margin-left 21px

			.breadcrumb
				padding 0
			
			.details-left
				float left
				padding-top 2px
				margin-right 25px
				
			.details-right
				float left

				img
					vertical-align text-bottom
			
		.actions
			float right

	.highlight-result
		background-color rgb(255, 255, 0)
	
	.aggregations
		
		@media(min-width 1200px)
			margin-left 25px
		
		.aggregation
			padding 10px 25px
			
			.glyphicon-remove
				color rgb(217, 83, 79)
				
			ul ul
				list-style disc outside none
				margin-left 1.7em
				
.public-mode .search-view
	
	@media(min-width 1200px)
		
		.aggregations
			margin-left 0
			
		.search-results
			border-right 1px solid rgb(231, 233, 237)