.team-view 
	
	.flex-container
		
		.content-box
			padding 0

		.user-info
			display block
			padding 10px
			border-bottom 1px solid rgb(231, 233, 237)
	
			button[data-action=remove-member]
				margin-top 7px
