include ../mixins/paging.pug

each repo in data
	div
		a.follow(href=repo.group + '/' + repo.name)=repo.label
		if isSearchEnabled
			button.btn.btn-xs.btn-default.pull-right(data-action='reindex-repository' data-group=repo.group data-repository=repo.name) Reindex
+paging(resultInfo, null, pageSizeId)
