.confirmation-phrase
	color rgb(199, 37, 78)
	background-color rgb(249, 242, 244)

.modal #model-tree
	max-height 500px
	overflow-y auto	

.progress-indicator

	.backdrop
		position fixed
		top 0
		bottom 0
		left 0
		right 0
		z-index 1100
		opacity .5

	.loader
		z-index	1110
		position fixed
		margin auto
		left 0
		right 0
		top 0
		bottom 0
		width 100px
		height 100px
		padding 17px	

		span 
			line-height 10px
			font-size 10px
			position absolute
			left 0
			right 0
			top 45px
			bottom 45px
			text-align center
			z-index 1120
	
	&:not(.transparent)

		.backdrop
			background-color black

		.loader
			background-color white 
			border 1px solid rgba(0, 0, 0, 0.2)
			border-radius 5px
			box-shadow 0 5px 15px rgba(0, 0, 0, 0.5)
			
.modal-backdrop
	position fixed
	bottom 0
	z-index 1039	

.modal
									
	.modal-content
		border-radius 0				

		.modal-header
			background-color rgb(248, 250, 252)

			&.empty
				border-bottom 0

		.modal-footer
			border-top 0
			
	&.modal-large > .modal-dialog
		width auto
		max-width 991px
