#build-info
	float right
	padding-right 10px
	
	@media(max-width 991px)
		display none

#main
	min-height calc(100% - 50px)
	padding-bottom 1px
	padding-top 65px
	padding-left 65px

	@media(min-width 992px)
		padding-left 230px    
		
	.full-size
		
		&:not(.full-width)
			max-width 1200px

		@media(min-width 992px)
			margin 25px auto

			& > .center
				margin 0 25px

#main .full-size > .center, .modal-body

	@media(min-width 992px)

		.two-columns, .three-columns, .four-columns
			display grid
			grid-column-gap 2%

			&:not(.no-margin-bottom) > *
				margin-bottom 20px

		.two-columns
			grid-template-columns 49% 49%

		.three-columns
			grid-template-columns 32% 32% 32%

		.four-columns
			grid-template-columns 23.5% 23.5% 23.5% 23.5%

	@media(min-width 992px) and (max-width 1199px)

		.four-columns
			grid-template-columns 49% 49%


body.public-mode
	
	#main
		padding 65px 0 0 0
		height 100%
	
		.full-size
			max-width initial
			margin 0 0 0 65px
			height 100%
			
			& > .center
				margin 0
				height 100%
				
				.table
					margin-bottom 0