include ./structures/impact-category-table.pug
include ./structures/nw-factor-table.pug

+menubar
.content-box
	.model-left-content
		+header
		+tabbed-content
			ul.nav.nav-tabs(role='tablist')
				+nav-tab('impactCategories', true)
				+nav-tab('nwSets')
				+nav-usage-tab()
			.tab-content
				+nav-tab-pane('impactCategories', true)
					+impact-category-table()
				+nav-tab-pane('nwSets')
					each values in getArrayValues(dataset, compareTo, 'NW_SET', 'nwSets')
						h4
							+sub-field(values[0], values[1], 'name')(data-path=values[0]?'nwSets[' + values[0].id + ']':null)
							|  - 
							+sub-field(values[0], values[1], 'weightedScoreUnit')
						+nw-factor-table(values[0], values[1])
				+nav-usage-tab-pane()
	+meta
		hr
		+labeled-field-block('code', null, '-')
		+labeled-ref-block('source')
	.clear