include ../mixins/forms.pug

.header-box
	if canCreateRepositories
		.input-group.input-group-lg
			input#filter.form-control(type='text' placeholder='Filter by name' aria-label='Filter by name')
			span.input-group-btn
				button.btn.btn-success.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' aria-label='Toggle repository menu')
					span.glyphicon.glyphicon-plus
					|  
					span.caret
				ul.dropdown-menu
					li: a(href='#' data-action='create-repository')
						span.glyphicon.glyphicon-plus
						| Create new repository
					li: a(href='#' data-action='import-repository')
						span.glyphicon.glyphicon-import
						| Import repository
					li: a(href='#' data-action='import-json')
						span.glyphicon.glyphicon-import
						| Import JSON-LD
					li: a(href='#' data-action='import-external')
						span.glyphicon.glyphicon-import
						| Import from another Collaboration Server
	else
		.form-group
			input#filter.form-control.input-lg(type='text' placeholder='Filter by name' aria-label='Filter by name')
#repositories.content-box