body.public-mode {
  height: unset;
}

.search-view .result .details {
  color: #555;
}

/* Commit history overview */

.user-info.concealed {
  color: #555;
}

.repository-commits .commit-group .date-and-count .count {
  color: #555;
}

.repository-commits .commit-group .commit .commit-link>a {
  color: #555;
}

/* add a comment	*/

/**
 *  * Styles for the official government website banner.
 *   */

.official-website-banner {
  background: #f7f7f7;
  color: #212121;
  font-size: 1.3rem;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.official-website-banner__message, .official-website-banner__content {
  margin: 0 auto;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

.official-website-banner__message {
  font-size: 1.2rem;
}

.official-website-banner__message img {
  margin-right: .5rem;
  width: 2.5rem;
}

.official-website-banner__trigger {
  background: transparent;
  border: 1px solid transparent;
  color: #0071bc;
  padding-right: 20px;
}

.official-website-banner__trigger:focus {
  border: 1px dotted #000;
}

.official-website-banner__trigger.content-collapsed {
  background: url(/lca-collaboration/images/bluedownv.png) right 6px center no-repeat;
}

.official-website-banner__trigger.content-expanded {
  background: url(/lca-collaboration/images/blueupv.png) right 6px center no-repeat;
}

.official-website-banner__content {
  display: none;
  /** Clearfix */
  overflow: auto;
}

.official-website-banner__content>.content-region {
  float: left;
  padding: 15px 0;
  width: 100%;
}

@media screen and (min-width: 60em) {
  .official-website-banner__content>.content-region__first, .official-website-banner__content>.content-region__second {
    width: 50%;
  }
}

.content-region img {
  float: left;
  height: 4rem;
  width: 4rem;
}

.content-region p {
  padding-left: 5.5rem;
  padding-right: 15px;
}

/* line 1, ../scss/components/_footer.scss */

.footer {
  padding: 0;
  border: none;
  padding-top: 30px;
}

/* line 5, ../scss/components/_footer.scss */

.footer__primary-section {
  background-color: #f0f0f0;
}

/* line 7, ../scss/components/_footer.scss */

.footer__primary-section ul.nav {
  display: flex;
  flex-wrap: wrap;
}

/* line 10, ../scss/components/_footer.scss */

.footer__primary-section ul.nav li {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 13, ../scss/components/_footer.scss */

.footer__primary-section ul.nav li:first-child {
  padding-left: 0;
}

/* line 15, ../scss/components/_footer.scss */

.footer__primary-section ul.nav li a {
  color: #446443;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

/* line 22, ../scss/components/_footer.scss */

.footer__primary-section ul.nav li a:hover {
  color: #37493b;
  text-decoration: underline;
}

/* line 31, ../scss/components/_footer.scss */

.footer__secondary-section {
  background-color: #dcdee0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 36, ../scss/components/_footer.scss */

.footer__secondary-section ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 6, ../scss/utils/_unstyled-list.scss */

.footer__secondary-section ul>li {
  margin-bottom: 0;
  max-width: unset;
}

@media screen and (min-width: 480px) {
  /* line 36, ../scss/components/_footer.scss */
  .footer__secondary-section ul {
    column-count: 2;
  }
}

@media screen and (min-width: 768px) {
  /* line 36, ../scss/components/_footer.scss */
  .footer__secondary-section ul {
    column-count: 3;
  }
}

/*
@media screen and (min-width: 992px) {
  /* line 36, ../scss/components/_footer.scss
  .footer__secondary-section ul {
    column-count: 4;
  }
}
*/

/* line 42, ../scss/components/_footer.scss */

.footer__secondary-section ul li {
  margin-top: 1rem;
}

/* line 45, ../scss/components/_footer.scss */

.footer__secondary-section ul li:first-child {
  margin-top: 0;
}

/* line 49, ../scss/components/_footer.scss */

.footer__secondary-section ul li a {
  color: #446443;
}

/* line 51, ../scss/components/_footer.scss */

.footer__secondary-section ul li a:hover {
  color: #37493b;
}

.site-branding {
  margin: 15px 0px;
}

.site-branding__usda-logo {
  width: 80px;
}

@media screen and (min-width: 768px) {
  /* line 5, ../scss/components/_site-branding.scss */
  .site-branding__usda-logo {
    width: 100px;
  }
}

.header {
  margin-bottom: 4rem;
}

/*
========================================
OVERRIDES
----------------------------------------
Any overrides to the application or
bootstrap default styles. 
----------------------------------------
*/

header.drupal {
  height: unset;
}

body.public-mode header.drupal nav {
  width: unset;
}

header.drupal nav {
  position: relative;
  background-color: transparent;
  width: unset;
  margin-top: 0;
}

header.drupal nav.navbar-default {
  background-image: none;
  box-shadow: none;
  border: none;
}

header.drupal nav ul li {
  width: unset;
}

header.drupal nav ul li:not(.active):hover {
  background-color: transparent;
  transition: none;
}

header.drupal .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: none;
  box-shadow: none;
}

header.drupal .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-image: none;
}

header.drupal .form-control {
  border: 1px solid #565c65;
  border-radius: 0;
  color: #1b1b1b;
}

@media (min-width: 992px) {
  body.public-mode header.drupal nav.col-md-10 {
    width: 83.3333333%;
  }
}

/*Fix menu overlap issue*/

.navbar-default .responsive-menu .default-menu {
  display: block;
}

/*
========================================
Drupal Styles
----------------------------------------
CSS taken from the drupal site
----------------------------------------
*/

/* line 3, ../scss/components/_header.scss */

header {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  /* line 9, ../scss/components/_header.scss */
  nav.navbar.navbar-default {
    min-height: unset;
    border-radius: 0;
  }
}

@media screen and (max-width: 767px) {
  /* line 18, ../scss/components/_header.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 6, ../scss/utils/_unstyled-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li {
    margin-bottom: 0;
    max-width: unset;
  }
  /* line 18, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li {
    border-top: 1px solid #dcdee0;
  }
  /* line 21, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li:first-child {
    border-top: none;
  }
  /* line 23, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.active a {
    background-color: transparent;
  }
  /* line 28, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav a {
    color: #565c65;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }
  /* line 34, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav a:hover {
    background-color: #f0f0f0;
    color: #008817;
    text-decoration: none;
  }
  /* line 40, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav a:focus {
    outline-offset: 0;
  }
  /* line 44, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav a.is-active {
    color: #008817;
    font-weight: 700;
    position: relative;
  }
  /* line 4, ../scss/utils/_add-bar.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav a.is-active:after {
    background-color: #008817;
    content: "";
    display: block;
    position: absolute;
    border-radius: 99rem;
    bottom: 4px;
    top: 4px;
    width: 4px;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  /* line 18, ../scss/components/_header.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav {
    display: flex;
  }
  /* line 18, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li a {
    text-decoration: none;
    font-size: 16px;
  }
  nav.navbar-default .navbar-collapse ul.navbar-nav li a:focus {
    outline: #00a91c;
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }
  /* line 37, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li>a {
    color: #1b1b1b;
    display: block;
    font-weight: 700;
  }
  /* line 50, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li>a:hover {
    color: #008817;
    position: relative;
  }
  /* line 4, ../scss/utils/_add-bar.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li>a:hover:after {
    background-color: #008817;
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    left: 16px;
    right: 16px;
    bottom: -4px;
  }
  /* line 55, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li>a.is-active {
    position: relative;
    background-color: transparent;
  }
  /* line 4, ../scss/utils/_add-bar.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li>a.is-active:after {
    background-color: #008817;
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    left: 16px;
    right: 16px;
    bottom: -4px;
  }
  /* line 69, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li.active>a {
    background-color: transparent;
  }
  /* line 73, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li.active:not(.open)>a:hover {
    color: #008817;
    position: relative;
  }
  /* line 4, ../scss/utils/_add-bar.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav>li.active:not(.open)>a:hover:after {
    background-color: #008817;
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    left: 16px;
    right: 16px;
    bottom: -4px;
  }
}

@media screen and (max-width: 767px) {
  /* line 89, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
  }
  /* line 6, ../scss/utils/_unstyled-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu>li {
    margin-bottom: 0;
    max-width: unset;
  }
  /* line 60, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu li {
    border-top: 1px solid #dcdee0;
  }
  /* line 64, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu li a {
    padding-left: 32px;
  }
  /* line 69, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu li nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu li a {
    padding-left: 48px;
  }
  /* line 74, ../scss/utils/_nav-list.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu li nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu li nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu li a {
    padding-left: 64px;
  }
}

@media screen and (min-width: 768px) {
  /* line 97, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open a {
    background-color: #37493b;
    color: #fff;
  }
  /* line 102, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu {
    border: none;
    border-radius: 0;
    background-color: #37493b;
  }
  /* line 107, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu a {
    font-weight: 400;
  }
  /* line 109, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu a:hover {
    text-decoration: underline;
  }
  /* line 112, ../scss/utils/_navigation.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav li.open ul.dropdown-menu a.is-active {
    background-color: #008817;
  }
}

@media screen and (min-width: 768px) {
  /* line 18, ../scss/components/_header.scss */
  nav.navbar-default .navbar-collapse ul.navbar-nav {
    float: right;
    margin-top: 30px;
  }
}

/* line 29, ../scss/components/_header.scss */

.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  background-color: #008817;
  color: #fff;
  height: 48px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 15px 0 15px;
  margin-right: 0;
}

/* line 40, ../scss/components/_header.scss */

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle[aria-expanded=true] {
  background-color: #37493b;
}

/* line 44, ../scss/components/_header.scss */

.navbar-default .navbar-toggle[aria-expanded=false] {
  background-color: #008817;
}

button.btn-success {
  background-image: none;
  font-weight: bold;
  background-color: #008817;
}

button.btn-success:hover {
  background-color: #446443;
}

button.btn-success:focus {
  outline: #00a91c;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 3px;
}

#user-menu {
  float: none;
  width: 100%;
  /* display: inline-block; */
  padding: 0;
  background-color: #446443;
  /* padding: 15px; */
  /* margin-top: 10px; */
}

#user-menu .form-group {
  margin-bottom: 0;
}

#user-menu input {
  border: 1px solid #565c65;
  border-radius: 0;
  color: #1b1b1b;
}

#user-menu input:focus {
  border: 4px solid #98d035;
}

#user-menu input::placeholder {
  color: #71767A;
  font-style: italic;
}

#user-menu a.login {
  display: none;
}

#user-menu>div {
  margin: auto;
}

@media all and (min-width: 768px) {
  #user-menu>div {
    width: 750px;
  }
  #header-title {
    width: 750px;
  }
  #lca_logotitle {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  #user-menu>div {
    width: 970px;
  }
  #header-title {
    width: 970px;
  }
  #lca_logotitle {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  #user-menu>div {
    width: 1170px;
  }
  #header-title {
    width: 1170px;
  }
  #lca_logotitle {
    width: 1170px;
  }
}

div#lca_logotitle {
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  margin: auto;
}

/*get search box to be on the right side*/
#user-menu .pull-left {
  float: right !important;
  position: relative;
  top: 10px;
}

#user-menu .pull-right>a{
  display: none;
}

#user-menu .pull-right{
  position: relative;
  top: -70px;
  clear: right;
  margin-right: 10px;
}

#global-search-group {
  width: 300px;
}

div#header-title-container{
  background-color: #446443;
  width: 100%;
}

div#header-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px 0px;
  line-height: 30px;
  margin: auto;
  padding-left: 15px;
}

@media (max-width: 991px) {
  #user-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .drupal a.login.default-button span {
    background-color: #008817;
    color: #fff;
    padding: .75rem 1.25rem;
    border-radius: .25rem;
  }
  .drupal a.login.default-button:hover span {
    background-color: #446443;
  }
  nav.navbar-default .navbar-collapse ul.navbar-nav>li>a.login.default-button:hover:after {
    display: none;
  }
}

a.visually-hidden.focusable.skip-link:focus {
  position: relative;
  height: unset;
  width: unset;
  /* display: block; */
  left: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: inline;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 30px;
}

hr {
  border-top: 1px solid #c9c9c9;
}

* {
  word-wrap: normal;
}

#block-interaction {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

body.public-mode #main {
  padding-top: 0px;
  height: auto;
}

body.has-announcements #main, body #main {
  padding-top: 0px;
  height: auto;
}

body.has-announcements nav, body nav {
  margin-top: 0px;
}

body.public-mode #main .full-size, #main .full-size {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.pinned-repository h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}