mixin avatar-box(type, id, canWrite) 
	.header-box Avatar
		img.pull-right.avatar(src='ws/' + type + '/avatar/' + id, aria-label='Avatar')
	if canWrite
		#avatar-form.content-box
			#avatar-general-message-group.alert(role='alert'): span.message
			form
				+input('avatar', null, 'file')(aria-label='Avatar file input')
				if !window.FileReader
					button.btn.btn-lg.btn-success.pull-right(type='submit' data-action='save-avatar') Save
				else
					button.btn.btn-lg.btn-success.pull-right(type='submit' data-action='reset-avatar') Clear
			.clear