include ../mixins/category-breadcrumb.pug
include ../mixins/forms.pug
include ../mixins/long-text.pug

mixin static-setting(field, label, formatter)
	if info[field]
		- var value = formatter ? formatter(info[field]) : info[field];
		+static(field, label, value)

.header-box(class=isPublic?'only-box':null)
	.pull-left
		if isPublic
			+release-selection('commit', 'Version', releases, commitId, true)
			if releases.length > 1
				|  
				small: small: a(href=repoUrl + '/releases') View history
		else if !isPublic
			+commit-selection('commit', 'Commit', commits, commitId, true)
	.pull-right
		.dropdown.btn-group
			button.btn.btn-success.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
				span.glyphicon.glyphicon-download
				span.text Download 
				span.caret
			ul.dropdown-menu
				li: a(href='#' data-format='json') as JSON-LD (openLCA 2.x)
				li: a(href='#' data-format='json1') as JSON-LD (openLCA 1.x)
				- var type = null;
				if categoryPath && categoryPath.length
					- var type = categoryPath[0]
				li.divider(role='separator')
				li: a(href='#' data-format='json' data-action='select-data') as JSON-LD (openLCA 2.x) (Subselect)...
				li: a(href='#' data-format='json1' data-action='select-data') as JSON-LD (openLCA 1.x) (Subselect)...
	.clear
if info && (info.description || info.version || info.lastChange || info.typeOfData || info.sourceInfo || info.contactInfo || info.changeLog || info.projectInfo || info.projectFunding || info.appropriateUse || info.dqAssessment)
	.header-box
		.repository-description
			if info.description
				p=info.description
			+toggleable
				if !isPublic
					+static-setting('version', 'Version')
				+static-setting('lastChange', 'Last change', formatDate)
				+static-setting('typeOfData', 'Type of data')
				+static-setting('sourceInfo', 'Source information')
				+static-setting('contactInfo', 'Contact information')
				+static-setting('changeLog', 'Change log')
				+static-setting('projectInfo', 'Project information')
				+static-setting('projectFunding', 'Project funding')
				+static-setting('appropriateUse', 'Appropriate use')
				+static-setting('dqAssessment', 'Data quality assessment')
				+static-setting('citation', 'Citation')
if categoryPath
	.header-box
		.form-group
			input#filter.form-control.input-lg(type='text' placeholder='Filter by name' aria-label='Filter by name')
	.header-box
		+category-breadcrumb(categoryPath.split('/'), repoUrl + '/datasets', false, false, commitId)

.content-box
	table.table.table-browse
		if !isPublic
			thead
				tr
					th
					th Name
					th Last change
					th Commit
		tbody
	.no-content-message(style='display:none') No data sets found