option[disabled]
	color rgb(160, 160, 160)

option.highlight
	font-weight bold

.same-size-font
	font-family Menlo, Monaco, Consolas, "Courier New", monospace

hr.dense
	margin-top 5px
	margin-bottom 5px

img.image-crop
	max-width 100%

.caret.right
	border-bottom 4px solid transparent
	border-top 4px solid transparent
	border-left 4px solid

.badge.deleted
	font-size 28px
	background-color rgb(213, 83, 79)

.no-content-message
	padding 10px 20px
	font-style italic

.breadcrumb
	display block
	background-color initial
	margin-bottom 0
	padding-left 0
	
.breadcrumb > li
	display inline

	& + li:before
		padding 0 0 0 5px

a.toggle-control:not(.btn):not(.default-link)
	color rgb(51, 122, 183)

.dropdown-submenu 
	position relative

.dropdown-submenu .dropdown-menu 
	top 0
	left 100%
	margin-top -6px

.nav-tabs > .dropdown > .dropdown-menu > li.active > a
	color white

.fadeIn
	animation-duration 0.25s
	-webkit-animation-delay 0s

.cursor
	cursor pointer

.paging 
	padding-top 20px
	padding-bottom 20px
	text-align center

	& > *
		padding-right 3px
		
	a, a:hover, a:visited, a:active, a:focus 
		color rgb(51, 122, 183) !important
		
.indented
	margin 25px

.avatar 
	width 48px
	height 48px
	border-radius 24px

	@media (min-width 992px)
		margin-right 16px

.alert
	display none

.repository-entry-content
	width calc(100% - 64px)

.status-bar
	top -40px
	position fixed
	left 0
	height 40px
	width 100%
	padding 10px 0
	border-width 1px
	border-style solid
	font-weight bold
	text-align center
	z-index 10000

table > thead > tr > th:empty, table > tbody > tr > td:empty, table > tfoot > tr > td:empty
	padding 0

table > thead > tr > th.header:not(:empty)
	cursor pointer
		
	&:after
		position relative
		left 10px

	&.headerSortDown:after
		content '\2303'
		top 3px
			
	&.headerSortUp:after
		content '\2304'
		top -3px

.tab-content
	margin 10px 25px
	overflow auto

.margin-0-25-25
	margin 0 25px 25px

.table.margin-0-25-25
	width calc(100% - 50px)
	max-width calc(100% - 50px)

.comma-separated > *:not(:last-child):after 
	content: ', '

.status-bar:not(.alert-danger):not(.alert-success):not(.alert-warning):not(.alert-info)
	display none

.separator
	margin 10px 0
	display flex
	align-items center
	text-align center

.separator::before, .separator::after
	content ''
	flex 1
	border-bottom 1px solid rgb(208, 208, 208)

.separator:not(:empty)::before
	margin-right .25em

.separator:not(:empty)::after
	margin-left .25em

.header-box, .subheader-box
	background-color rgb(248, 250, 252)
	border-bottom 1px solid rgb(231, 233, 237)
	border-top 1px solid rgb(231, 233, 237)

.header-box
	padding 25px
	font-size 18px

	.breadcrumb
		font-size 16px

	label
		font-size initial

	#commitId
		width 112px

	.form-group
		margin-bottom 0

	input.filter
		width 200px
		margin-bottom 5px

	.btn > .glyphicon
		font-size 14px

	.btn:not(:last-child) 
		margin-left 10px

.header-box > .form-group:not(:first-child)
	margin-top 10px

.header-box + .header-box
	padding 10px 25px
	border-top 0

.btn > .glyphicon + .text
	
	@media(min-width 481px)
		padding-left 5px

@media (max-width 480px)

	.btn-lg
		padding 6px 12px
		font-size 14px
		line-height 1.42857143
		border-radius 4px

select[multiple].member-selection
	height 200px
	
optgroup.additional-info
	font-weight 100 !important
	font-style italic !important
	color rgb(160, 160, 160) !important

img.check-all, img.uncheck-all
	cursor pointer
	margin-left 5px

.content-container
	background-color rgb(255, 255, 255)

.content-box, .subcontent-box
	background-color white

.subheader-box
	padding 10px
	border-left 1px solid rgb(231, 233, 237)
	border-right 1px solid rgb(231, 233, 237)

.multi-box-view
	
	.header-box

		.pull-right
			
			&.btn-lg, &.avatar
				margin-top -12px
				
				@media(max-width 480px)
					margin-top -6px

	.content-box
		padding 25px

		&:not(:last-child)

			@media(min-width 992px)
				margin-bottom 25px

		.no-content-message
			padding 0

.user-info

	&.concealed
		color rgb(127, 143, 164)
		
	&:not(.concealed)
		font-weight bold

	img.avatar-small
		width 32px
		height 32px

	.user-info-content-box
		max-width calc(100% - 48px)

	.user-info-content
		font-size 90%

		.username:last-child
			display inline-block
			margin-top 8px

.commit-info
	font-weight bold

	&.additions
		color rgb(92, 184, 92)

	&.updates
		color rgb(240, 173, 78)

	&.deletions
		color rgb(217, 83, 79)

.list-container

	.list-entry
		padding 10px 25px
		border-bottom 1px solid rgb(241, 242, 244)

		&.small-padding
			padding 10px

img.model-icon
	width 64px
	height 64px
	margin 0 0 0 50px
	
img.model-icon-small
	width 16px
	height 16px
	margin -3px 5px 0 0

table.data-quality

	& > tbody > tr > td:first-child
		font-weight bold
	
	& > tbody > tr
		border-top 1px solid rgb(238, 238, 238)

	& > thead > tr > th, & > tbody > tr > td
		padding 5px
		text-align center
		min-width 50px
		height 50px
			
		&:not(:first-child)
			border-left 1px solid rgb(238, 238, 238)

		@media(max-width 767px)
			min-width 30px
			height 30px

			& > span
				display none

			&:first-child
				word-break break-all
				
	&:not(.uncertainties) 
		
		& > thead > tr > th, & > tbody > tr > td
			
			&:not(:first-child)
				word-break break-all
				
.responsive-menu
	margin-top 4px

	.default-menu
		display inline-block

	@media(max-width 767px)
		
		.default-menu
			display none

	@media(min-width 768px)
	
		.glyphicon-cog
			display none
		
		.dropdown-menu
			display none !important
			
.dropdown-menu
	
	& > li > a > .glyphicon
		margin-left -11px
		margin-right 11px

.commit-link

	.commit-id-rest
		display none

.commit-link:hover

	.commit-id-rest
		display initial

.vertical-list > *:not(:last-child)
	margin-bottom 5px

.badge
	font-size 14px

	&:not(:first-child):not(.pull-right)
		margin-left 5px

	&:not(:first-child).pull-right
		margin-right 5px

	&.badge-primary
		background-color rgb(51, 122, 183)

	&.badge-success
		background-color rgb(92, 184, 92)

	&.badge-warning
		background-color rgb(240, 173, 78)

	&.badge-danger
		background-color rgb(217, 83, 79)

	&.badge-info
		background-color rgb(91, 192, 222)

.description
	color rgb(127, 143, 164)