include ../mixins/forms.pug
include ../mixins/avatar-box.pug
include ../mixins/user-info.pug

div(class=team.id?'two-columns':null)
	.team-info
		.header-box Team
			if team.id
				button.btn.btn-lg.btn-danger.pull-right(data-action='delete-team') Delete
		form#team-form.content-box
			#team-form-general-message-group.alert(role='alert'): span.message
			unless team.id
				+input('teamname', 'Teamname*')
			else
				+static('teamname', 'Teamname', team.teamname)
			+input('name', 'Name*')
			button.btn.btn-lg.btn-success.pull-right(data-action='save-team')
				if team.id
					| Save
				else
					| Create
			.clear
		if team.id && team.users.length
			.header-box Active until
			form#active-form.content-box
				+input('active-until', 'Active until (unlimited if empty) ', 'date', true)(class='input-sm')
				button.btn.btn-lg.btn-success.pull-right(data-action='set-active-until') Set for all team users
				.clear
		if team.id
			+avatar-box('team', team.teamname, true)
	if team.id
		.team-members
			.header-box Members (#{team.users.length})
				button.btn.btn-lg.btn-success.pull-right(data-action='add-members')
					span.glyphicon.glyphicon-plus
					span.text Add members
			.content-box
				each user in team.users
					.team-member
						a(href='administration/user/profile/' + user.username): +user-info(user.username, user.name)
						button.btn.btn-xs.btn-danger.pull-right(data-action='remove-member' data-username=user.username, aria-label='Remove member ' + user.name)
							span.glyphicon.glyphicon-minus
						.clear
