include ../mixins/forms.pug

form#set-role-form
	#set-role-general-message-group.alert(role='alert'): span.message
	if users || teams
		+member-selection(true)
	+select('role', 'Role')
		each role in roles
			if isRoleAvailable(role)
				option(value=role.id)=role.name
				- var description = type === 'group' ? role.descriptionForGroup : role.descriptionForRepository
				optgroup.additional-info(label=description)
