include ./mixins.pug

+menubar
.content-box
	.model-left-content
		+header
		+content
			table.table.no-head.margin-0-25-25
				tbody
					+field-row('code')
					+field-row('conversionFactor')
					+ref-row('refCurrency')
	+meta
	.clear