include ./structures/epd-modules-table.pug

+menubar
.content-box
	.model-left-content
		+header
		+tabbed-content
			- showDocumentationTab = hasOneOf(dataset, compareTo, ['validFrom', 'validUntil', 'location', 'manufacturing', 'productUsage', 'manufacturer', 'programOperator', 'registrationId', 'originalEpd', 'epdType', 'pcr', 'dataGenerator', 'verifier', 'useAdvice'])
			ul.nav.nav-tabs(role='tablist')
				+nav-tab('modules', true, true)
				+nav-tab('documentation', false, showDocumentationTab)
			.tab-content
				+nav-tab-pane('modules', true, true)
					+epd-modules-table
				+nav-tab-pane('documentation', false, showDocumentationTab)
					if hasOneOf(dataset, compareTo, ['validFrom', 'validUntil', 'location']) || reviewMode
						table.table
							thead: tr: th(colspan=2)=getLabel('timeAndLocation')
							tbody
								+field-row('validFrom', formatDate, '-')
								+field-row('validUntil', formatDate, '-')
								+ref-row('location')
					if hasOneOf(dataset, compareTo, ['manufacturing', 'productUsage']) || reviewMode
						table.table
							thead: tr: th(colspan=2)=getLabel('technology')
							tbody
								+field-row('manufacturing')
								+field-row('productUsage')
					if hasOneOf(dataset, compareTo, ['manufacturer', 'programOperator', 'registrationId', 'originalEpd']) || reviewMode
						table.table
							thead: tr: th(colspan=2)=getLabel('publicationAndOwnership')
							tbody
								+ref-row('manufacturer')
								+ref-row('programOperator')
								+field-row('registrationId')
								+ref-row('originalEpd')
								+field-row('urn')
					if hasOneOf(dataset, compareTo, ['epdType', 'pcr', 'dataGenerator', 'verifier', 'useAdvice']) || reviewMode
						table.table
							thead: tr: th(colspan=2)=getLabel('modelingAndValidation')
							tbody
								- var getEpdTypeLabel = function (epdType) { return getSpecificTypeLabel('EpdType', epdType); };
								+field-row('epdType', getEpdTypeLabel)
								+ref-row('pcr')
								+ref-row('dataGenerator')
								+ref-row('verifier')
								+field-row('useAdvice')
	+meta
		if hasOneOf(dataset, compareTo, ['product']) || reviewMode
			hr
			strong=getLabel('product.flow')
			div
				+field('product.amount')
				|  
				+field('product.unit.name')
				|  
				+ref-field('product.flow')
	.clear