include ./structures/flow-property-table.pug

+menubar
.content-box
	.model-left-content
		+header
		+tabbed-content
			- var outId = dataset.flowType==='ELEMENTARY_FLOW'?'emittedBy':'producedBy';
			ul.nav.nav-tabs(role='tablist')
				+nav-tab('flowInfo', true, true)
				+nav-tab('flowProperties')
				+nav-usage-tab('usedBy')
				+nav-usage-tab('consumedBy')
				+nav-usage-tab(outId)
			.tab-content
				+nav-tab-pane('flowInfo', true, true)
					table.table.no-head
						tbody
							- var getFlowTypeLabel = function (flowType) { return getSpecificTypeLabel('FlowType', flowType); };
							+field-row('flowType', getFlowTypeLabel)
							+field-row('cas')
							+field-row('formula')
							+field-row('synonyms')
							+ref-row('location')
							+boolean-field-row('isInfrastructureFlow')
				+nav-tab-pane('flowProperties')
					+flow-property-table()
				+nav-usage-tab-pane('usedBy')
				+nav-usage-tab-pane('consumedBy')
				+nav-usage-tab-pane(outId)
	+meta
	.clear