include ./structures/impact-factor-list.pug
include ./structures/impact-factor-table.pug
include ./structures/parameter-table.pug

+menubar
.content-box
	.model-left-content
		+header
		+tabbed-content
			ul.nav.nav-tabs(role='tablist')
				+nav-tab('impactFactors', true)
				+nav-tab('parameters')
				+nav-usage-tab()
			.tab-content
				+nav-tab-pane('impactFactors', true)
					a.pull-right.toggle-control.switch-to-list(href='#') Switch to list view
					.clear
					.impact-factor-table.toggleable
						+impact-factor-table()
					a.pull-right.toggle-control.switch-to-table(href='#') Switch to table view
					.clear
					.impact-factor-list.toggleable
						+impact-factor-list(factorMap, otherFactorMap)
				+nav-tab-pane('parameters')
					+parameter-table(true)
					+parameter-table(false)
					+nav-usage-tab-pane()
	+meta
		hr
		+labeled-field-block('code', null, '-')
		+labeled-ref-block('source')
	.clear