include ./mixins.pug

+menubar
.content-box
	.model-left-content
		+header
		+content
			table.table.no-head.margin-0-25-25
				tbody
					- var getParameterType = function(value, parent) { return parent ? (parent.isInputParameter ? 'Input' : 'Dependant') : null;};
					+field-row('isInputParameter', getParameterType)
					- var getFormula = function (value, parent) { return parent ? (parent.isInputParameter ? parent.value : (parent.formula + ' = ' + parent.value)) : null;}; 
					+field-row(dataset.isInputParameter?'value':'formula', getFormula)
	+meta
	.clear