<!DOCTYPE html>
html(lang='en')
	head
		base(href='/')
		title='LCA Collaboration Server'
		meta(http-equiv='expires' content='0')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='fragment' content='!')
		link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
		link(rel='stylesheet' type='text/css' href='css/styles.css')
	body.public-mode
		#announcements
			table: tbody: tr: td#announcement-message
		header#cs-header.navbar-fixed-top
			.logo-container
				a(href='')
					img.logo(src='images/logo.png' title='Logo')
			.content-container
				.header-content
					h4#header-title
			#user-menu
				#global-search-bar
		nav#main-navigation
		#main
			.full-size 
				.center
		#maintenance-notification
		script(data-main="js/main" src='js/libs/require.js')