option[disabled]
	color rgb(160, 160, 160)

.paging 
	padding-top 20px
	text-align center

	& > *
		padding-right 3px
		
	a, a:hover, a:visited, a:active, a:focus 
		color rgb(51, 122, 183)
		
.avatar 
	width 48px
	height 48px
	border-radius 24px

.alert
	display none
	
.status-bar
	position fixed
	top -40px
	left 0
	height 40px
	width 100%
	padding 10px 0
	border-width 1px
	border-style solid
	font-weight bold
	text-align center
	z-index 10000

.tab-content
	margin 15px
	overflow auto

.btn-full-width
	width 100%
	
.status-bar:not(.alert-danger):not(.alert-success):not(.alert-warning):not(.alert-info)
	display none
	
.header-box, .subheader-box
	background-color rgb(248, 250, 252)
	border-bottom 1px solid rgb(231, 233, 237)
	border-top 1px solid rgb(231, 233, 237)

.header-box
	padding 25px
	
	.form-group
		margin-bottom 0

	input.filter
		width 200px
		margin-bottom 5px

	.btn > .glyphicon
		font-size 14px
	
.btn > .glyphicon + .text
	
	@media(min-width 481px)
		padding-left 5px

select[multiple].member-selection
	height 200px
	
optgroup.additional-info
	font-weight 100 !important
	font-style italic !important
	color rgb(160, 160, 160) !important

.content-box, .subcontent-box
	background-color white

.subheader-box
	padding 10px
	border-left 1px solid rgb(231, 233, 237)
	border-right 1px solid rgb(231, 233, 237)

.multi-box-view
	
	.header-box
		font-size 18px

		.pull-right
			
			&.btn-lg, &.avatar
				margin-top -12px

	.content-box
		padding 25px

		&:not(:last-child)

			@media(min-width 992px)
				margin-bottom 25px

.user-info

	&.concealed
		color rgb(127, 143, 164)
		
	&:not(.concealed)
		font-weight bold

	img.avatar-small
		width 32px
		height 32px

	.username
		padding-left 10px
		font-size 90%

img.model-icon
	width 64px
	height 64px
	margin 0 0 0 50px
	
img.model-icon-small
	width 16px
	height 16px
	margin -3px 5px 0 0
