html, body 
	margin 0
	padding 0
	height 100%

body 
	font-family sans-serif
	background-color rgb(234, 235, 236)
	color rgb(84, 86, 91)

	&.login
		background-color initial

header
	width 100%
	height 65px
	background-color white
	border-bottom 1px solid rgb(221, 221, 221)

	.logo-container
		float left
		padding-left 7px
		height 65px
		width 65px
		background-color rgb(51, 60, 71)

		@media(min-width 992px)
			width 230px
			padding-left 91px

	
		.logo
			padding-top 8px
					
	.content-container
		height 65px
		float left
		
		@media(max-width 480px)
			max-width 45%

		.header-content
			margin-left 30px
			padding-top 13px

			@media(max-width 480px)
				margin-left 10px
	
	#user-menu
		float right
		padding 18px 48px 18px 18px

		@media(max-width 767px)
			padding 18px 13px

		@media(max-width 480px)
			padding 18px 13px 18px 0
		
		a
			margin-left 20px

		.glyphicon
			color rgb(84, 86, 91)
			font-size 20px
			

		.search-link-icon		

				@media(min-width 768px)
					display none

		.user-menu-actions
			margin-top 4px
		
		#global-search-group
			
			@media(max-width 767px)
				display none
			
			.form-control-feedback
				font-size 12px

.btn .text
	
	@media(max-width 480px)
		display none

ul
	margin 0
	padding 0
	list-style none			

#main
	padding-top 65px
	padding-left 65px    

	@media(min-width 992px)
		padding-left 230px    

a, a:hover, a:visited, a:active, a:focus
	
	&:not(.btn)
		color inherit
	
a.no-link
	text-decoration none
	color inherit

.form-value
	margin-bottom 10px

.align-center
	text-align center

.align-right
	text-align right

.clear
	clear both

.comma-separated > *:not(:last-child):after 
		content ', '

.form-inline select

	@media (min-width 768px)
		margin-left 5px
		
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .form-control, .btn
		border-radius 2px

.error-page
	margin 50px auto 0 auto
	width 350px
	text-align center
	
	hr
		border-top 1px solid rgb(201, 201, 201)