.full-size
	max-width 1200px

	@media(min-width 992px)
		margin 25px auto

	& > .center
	
		@media(min-width 992px)
			margin 0 25px
						
		.two-columns > *:not(.clear)

			@media(min-width 992px)
				margin 1%
				width 48%
				float left

		.three-columns > *:not(.clear)

			@media(min-width 992px)
				margin 1%
				width 31.3%
				float left

		.four-columns > *:not(.clear)

			@media(min-width 992px)
				margin 1%
				width 23%
				float left

