.full-size
	max-width 1200px

	@media(min-width 992px)
		margin 20px auto
		padding 0 20px

	& > .center
		background-color white
		
		& > *
			padding 25px
				
		.two-columns > *:not(.clear)
			margin 1%

			@media(min-width 992px)
				width 48%
				float left
