.full-size
	margin 50px 5% 50px 5%

	& > .center
		background-color white
		
		& > *
			padding 25px
				
		.two-columns > *:not(.clear)
			margin 1%

			@media(min-width 992px)
				width 48%
				float left
