body.login

	header
		border-bottom 1px solid rgb(221, 221, 221)
	
		.logo-container
			background-color initial
			float none
			margin 0 auto

			img
				text-align-center		

#main-login
	width 400px
	margin 0 auto
	padding-top 50px

#login-container
	padding 25px
	background-color rgb(253, 253, 253)
	border 1px solid rgb(221, 221, 221)
