.menu-left
	
	& > *
		float left
	
	.menu-bar
		width 2px
		height 0

	.menu-active-bar
		margin-left 5px
		background rgb(72, 172, 72)
		margin-top 10px
		z-index 2

	.menu-hover-bar
		margin-left -2px
		background rgb(172, 254, 172)
		margin-top 50px
		z-index 1
	
	ul
		width 63px

		@media(min-width 992px)
			width 228px