body.login, body.imprint, body.maintenance
	background white

	header
		border-bottom 1px solid rgb(221, 221, 221)
	
		.logo-container
			background-color initial
			float none
			margin 0 auto

			img
				text-align-center		

#main-login
	width 400px
	margin 0 auto
	padding-top 20px

	@media(max-width 480px)
		width 100%
		margin 0
		padding-top 0

#login-description, #maintenance-description
	text-align center
	margin-bottom 20px

#login-container, #maintenance-container
	padding 25px
	background-color rgb(253, 253, 253)
	border 1px solid rgb(221, 221, 221)

	h3
		margin-top 0
		margin-bottom 20px
		
#footer
	border-top 1px solid rgb(221, 221, 221)
	position fixed
	width 100%
	bottom 0
	background white
	height 40px
	padding 10px
	text-align center
	font-weight bold
	
.imprint-table
	
	td:first-child
		padding-right 10px
		
	td:last-child
		padding-left 10px
		border-left 1px solid rgb(221, 221, 221)