#user-menu
	float right
	padding 18px 48px 18px 18px

	@media(max-width 767px)
		padding 18px 13px

	@media(max-width 480px)
		padding 18px 13px 18px 0
	
	a
		margin-left 20px

	.glyphicon
		color rgb(84, 86, 91)
		font-size 20px
		
	.search-link-icon		

			@media(min-width 768px)
				display none

	.user-menu-actions
		margin-top 4px
	
	#global-search-group
		
		@media(max-width 767px)
			display none
		
		.form-control-feedback
			font-size 12px
				
	#message-icon.new-messages
		color rgb(240, 68, 23)

	#message-count
		position relative
		top -7px
		left -13px
		font-size 10px
		color white