.progress-indicator(class=!message?'transparent':null)
	.backdrop
	.loader
		img(src='images/loader.gif' aria-label='Loader image')
		if Array.isArray(message)
			span
				each m in message
					| #{m}
					br
		else
			span=message
