include ./mixins.pug

mixin impact-category-table()
	table.table.impact-categories
		thead
			tr
				th=getLabel('impactCategories.name')
				th=getLabel('impactCategories.refUnit')
				th
		tbody
			each values in getArrayValues(dataset, compareTo, 'IMPACT_CATEGORY', 'impactCategories')
				+impact-category-row(values[0], values[1])

mixin impact-category-row(category, other)
	- var changed = compareTo && !other ? 'added' : (compareTo && !category ? 'removed' : null);
	tr(data-compare=changed)
		td
			+compare-icon(changed)
			+ref(category, other)
		td: +sub-field(category, other, 'refUnit')
		td(data-path=category?'impactCategories[' + category.id + ']':null)
