if !standalone
	.header-box
		if canCreateChangeLog
			.input-group.input-group-lg
				input#filter.form-control.input-lg(type='text' placeholder='Filter by message' aria-label='Filter by message')
				.input-group-btn: button.btn.btn-success(data-action='download-changelog') Download changelog
		else
			.form-group
				input#filter.form-control.input-lg(type='text' placeholder='Filter by message' aria-label='Filter by message')
.content-box