include ../mixins/paging.pug
include ./result.pug

mixin badge(key, value)
	.badge=getLabel(key, value)
		|  
		a(href=getAggregationUrl(key, value, true)): span.glyphicon.glyphicon-remove

.header-box
	- var keys = Object.keys(selectedAggregations);
	| #{resultInfo.totalCount} results
	if resultInfo.indexing
		div: small datasets are currently being reindexed, more search results might be available in some minutes 
			button.btn.btn-xs.btn-default(data-action='refresh') Refresh
	div 
		if query
			+badge('query', query)
		each key in keys
			each value in selectedAggregations[key]
				+badge(key, value)
	if keys.length || query
		small: a(href=clearUrl) clear all filters
.content-box
	.search-results
		each dataset in data
			+result(dataset)
		+paging(resultInfo, getPagingUrl)
	.aggregations

