include ../mixins/forms.pug

.header-box Info
form#group-form.content-box
	#group-form-general-message-group.alert(role='alert'): span.message
	+input('name', 'Name')
	button.btn.btn-lg.btn-success.pull-right(data-action='create-group') Create
	.clear