include ../mixins/forms.pug

form#clone-form
	#clone-form-general-message-group.alert(role='alert'): span.message
	+input('clone-name', 'Name')
	+select('clone-group', 'Group', groups)
	+commit-selection('clone-commit', 'Version', commits)