mixin user-info(id, name, type)
	- var lcType = type ? type.toLowerCase() : 'user';		
	- var ucType = type ? type : 'User';
	span.user-info&attributes(attributes)
		.pull-left
			img.avatar.avatar-small(src='ws/' + lcType + '/avatar/' + id, aria-label=ucType + ' avatar')
		.pull-left.user-info-content-box
			span.user-info-content
				span.username=name 
					if type
						|  (#{type})
				block