.change-visibility
	display inline-block

.comment-visibility
	color rgb(51, 122, 173)

.comment-entry

	&:not(.reply)
		padding 20px

	&.reply
		padding 20px 20px 20px 0

		.user-info .user-info-content
			font-size 100%

	&:not(.released):not(.approved)
		background-color rgb(245, 245, 245)

	&:not(.approved)
		background-color rgb(255, 255, 221)
	
	#new-comment-group
		margin-top 15px
		margin-left 48px

	.comment-text
		margin-top 10px
		font-size 14px
	
	.reply-to[data-active], .edit[data-active]
		color rgb(68, 157, 68) !important
		font-weight bold
		
	.glyphicon-remove
		color rgb(201, 48, 44)
		
	.replies
		margin-top 10px
		
		& > .toggleable > img.loader
			margin 0 auto
			width 32px
			display block

	.dataset-link, .user-extra-info, .comment-text
		font-weight normal

.comments hr, .comments-view hr, .new-comment-wrapper + hr
	margin 0

.modal .comment-entry.reply
	padding-left 64px 

	.user-info .user-info-content
		font-size 90%