.group-view
	
	.repositories
		background-color rgb(255, 255, 255)

	.two-columns

		@media(min-width 1120px)
			grid-template-columns 54% 44% !important

		@media(min-width 1220px)
			grid-template-columns 58% 40% !important
					
		@media(min-width 1320px)
			grid-template-columns 63% 35% !important