.home
	margin 0 auto
	padding 20px 0 0 0
	width calc(100% - 40px)
	max-width 1200px

	.home-container

		h3
			margin-top 0
			text-align center

	.filter-options > *:not(:first-child)
		margin-left 10px

	.pinned-repositories
		margin-top 20px

		 .header-box
			border 1px solid rgb(231, 233, 237)

	.pinned-repository
		width 100%
		max-width 600px
		margin 0 auto
		text-align center

		button[data-action=download]
			padding 2px 4px
			line-height 1


		.header-box
			display flex
			flex-direction: column
			height 100%

			.repo-description
				flex-grow 1

				h4
					margin-top 0
					margin-bottom 15px

			.dataset-count
				padding 0 0 15px 0
				border-bottom 1px solid rgb(231, 233, 237)
				margin-bottom 15px

		@media(max-width 991px)
			margin-bottom 20px
