.members-view

	.content-box
		padding 25px
	
	.member-row
		padding 10px
		border-left 1px solid rgb(231, 233, 237)
		border-right 1px solid rgb(231, 233, 237)
		border-bottom 1px solid rgb(231, 233, 237)
	
	.role
		margin-top 7px
		font-weight bold
