.messages-view
	
	.avatar.blocked
		position absolute

	.header-box 

		.actions

			@media(min-width 600px)
				width 275px
				float left

		.message-with
			
			.avatar
				margin-right 20px
				
				&:not([src])
					width 0


	@media(min-width 600px)
		.content-box 
			display flex

	.message-container
		float left
		width 170px

	#conversations
		border-bottom 1px solid rgb(221, 221, 221)
		border-right 1px solid rgb(221, 221, 221)
		min-height 345px
		height 345px
		overflow-y auto
		overflow-x hidden

		@media(min-width 600px)
			float left
			display flex
			width 275px
			min-width 275px

		.list-container
			width 100%

			.list-entry
				padding 10px
				display flex
				
				.unread-messages, .online-indicator
					background-color rgb(92, 184, 92)
					position absolute
					
				.online-indicator
					margin-top 40px
					margin-left 247px
					padding 3px 5px
					font-size 5px

				.read-indicator.is-read
					color rgb(143, 188, 151)

				&.active
					background-color rgb(245, 245, 245)

				.username
					height 20px
					white-space nowrap
					width 95px
					overflow hidden
					text-overflow ellipsis
					font-weight bold

				.date
					font-style italic

				.message
					height 20px
					overflow hidden
					text-overflow ellipsis
					margin-top 5px

	#conversation
		border-bottom 1px solid rgb(221, 221, 221)
		background-color rgb(245, 245, 245)
		width 100%

		@media(min-width 600px)
			float right

		#conversation-messages
			min-height 304px
			height 304px
			padding 10px 20px
			overflow auto

			.message-wrapper
				padding 7px
				margin-bottom 15px
				border-radius 5px
				max-width 75%

				&.left
					float left
					background-color rgb(255, 255, 255)
				
				&.right
					float right
					background-color rgb(220, 248, 198)
					
				.date
					float right
					margin-top 5px

				.read-indicator
					color rgb(220, 248, 198)
					
					&.is-read
						color rgb(143, 188, 151)
									
		#conversation-input
			width 100%
			height 40px
			background-color rgb(255, 255, 255)
			border-top 1px solid rgb(221, 221, 221)

			.glyphicon-send
				overflow hidden
				float right
				font-size 20px
				padding 8px 15px
				cursor pointer

			.conversation-input-wrapper
				overflow hidden
				height 100%

			input
				width 100%
				height 100%
				border 0
				padding 0 10px
				
				&[disabled]
					background-color white

		