include ../mixins/forms.pug

.header-box Latest activities
    if repository
        if repository.settings.label
            |  on #{repository.settings.label}
        else
            |  on #{repository.group}/#{repository.name}
    form#activities-config.pull-right
        +checkbox('showCommitActivities', 'Commits', 'success', true)
        +checkbox('showCommentActivities', 'Comments', 'success', true)
        +checkbox('showTaskActivities', 'Tasks', 'success', true)
    .clear
.content-box
    .list-container#activity-feed