<!DOCTYPE html>
html(lang='en')
	head
		base(href='/')
		title='LCA Collaboration Server'
		meta(http-equiv='expires' content='0')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='fragment' content='!')
		link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
		link(rel='stylesheet' type='text/css' href='css/styles.css')
	body.imprint
		header#cs-header
			.logo-container
				a(href='')
					img.logo(src='images/logo.png' title='Logo')
		#main-login
			h3 Imprint
			a#company.website(href='' target='_blank')
			#street
			div
				span#zipCode
				|  
				span#city
			#country
			br
			br
			table.imprint-table
				tr
					td Website
					td: a#website.website(href='' target='_blank')
				tr
					td Phone
					td#phone
				tr
					td Fax
					td#fax
				tr
					td Email
					td#email
				tr
					td Managing Director
					td#ceo
				tr
					td Registration
					td#registration
				tr
					td Vat-Id (Ust-IdNr.)
					td#vat
		#footer &copy; 
			a(href='http://www.greendelta.com' target='_blank') GreenDelta GmbH
			|  
			span#year
			|  | 
			a(href='imprint') Imprint
		script(src='js/libs/jquery.js')
		script.
			$('#year').html(new Date().getFullYear());
			$('.imprint-table tr').hide()
			$.ajax({type: 'GET', url: 'ws/public/imprint', success: function(imprint) {
				var keys = Object.keys(imprint);
				for (var i = 0; i < keys.length; i++) {
					if (!keys[i]) {
						continue;
					}
					var elem = $('#' + keys[i]);
					elem.html(imprint[keys[i]]);
					while (!elem.is('tr') && !elem.is('body')) {
						elem = elem.parent();
					}
					if (elem.is('tr')) {
						elem.show();
					}
				}
				if (imprint.website) {
					$('.website').attr('href', imprint.website);
				}
			}});