mixin toggleable()
	span.toggleable
	|  
	a.toggle-control(href='#' aria-label='Show more') Show more
	span.toggleable(style='display:none')
		block
	|  
	a.toggle-control(href='#' style='display:none' aria-label='Show less') Show less

mixin toggleable-text(short, long, showLongInTitle)
	span.toggleable(title=showLongInTitle ? value : null)=short
	|  
	a.toggle-control(href='#' aria-label='Show more') Show more
	span.toggleable(style='display:none')=long
	|  
	a.toggle-control(href='#' style='display:none' aria-label='Show less') Show less

mixin long-text(value, length)
	if !length
		- length = 250;
	if value && value.length > length
		- const short = value.substring(0, Math.floor(length - length / 5)) + '... '
		+toggleable-text(short, value, true)
	else
		| #{value}
