include ../../comments/comment-entry-mixins.pug

if canComment
	.new-comment-wrapper
		.form-group(id='new-comment-group')
			label.control-label(for='new-comment') New comment 
				+comment-visibility(newCommentRestrictedToRole, roles)
			textarea.form-control(id='new-comment' name='new-comment' rows=5)
if comments && comments.length && canComment
	hr
.comments
	each comment, index in comments
		+comment-entry(comment, roles)
		if index < comments.length - 1
			hr