include ../mixins/forms.pug

.header-box Settings
.content-box
	form#settings-form
		+checkbox('messagingEnabled', 'Enable other users to initiate conversations with me')
		hr
		+checkbox('showOnlineStatus', 'Show my online status to other users')
		+checkbox('showReadReceipt', 'Show read receipts to other users')
.header-box Blocked users
#blocked-users.content-box Below is a list of users that you blocked. Simply click on '-' next to a user to unblock her or him.
	hr
	if blockedUsers && blockedUsers.length
		each user in blockedUsers
			p 
				button.btn.btn-xs.btn-danger.unblock(title='Unblock' data-username=user.username)
					span.glyphicon.glyphicon-minus
				|  #{user.name}	
	else
		span: i Currently you haven't blocked any users
